html,
body {
    padding: 0px 15px !important;
    overflow-x: hidden;
}

.navbar-header{
    overflow: hidden;
    max-height: 50px;
}

.wrap_contenido_pagina{
    padding: 40px 15px 20px;
    resize: horizontal;
    overflow: hidden;
}

.loader_grande, .loader_chico, .loader_muy_grande, .loader{
    border-color: #02010110 !important;
    border-top-color: black !important;
}
a:hover, a:focus, a:active {
    /*color: white !important;*/
    text-decoration: none !important;
}
nav a:hover, nav a:focus, nav a:active,
footer a:hover, footer a:focus, footer a:active {
    color: initial !important;
}
.wrap_contenido_pagina {
    min-height: calc(100vh - 60px);
}

.breadcrumb{
    display: none !important;
}
.invitado-index, .mesa-index, .trafix-index{
    margin-top: 60px !important;
}

.wrap_invitados_buttons{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0px;
}
.wrap_invitados_buttons a, .wrap_invitados_buttons button{
    margin: 20px 0px;
}

.glyphicon{
    font-size: 20px;
}

.footer {
    width: 100vw;
    height: 60px;
    padding-top: 15px;
    font-size: 18px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    /*color: #ababab;*/
    border-top: 1px solid #ababab ;
    position: absolute;
    left: 0px;
}
.footer .container{
    margin-bottom: 0px !important;
}
.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.grid-view td:last-child {
    width: 68px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* add red asterisk to required form fields */
div.required label:after {
    content: " *";
    color: #e13431;
}

/*-- Css for nicer display of boolean yes/no values --*/

.boolean-true {
    font-weight: bold;
    color: green;
}

.boolean-false {
    font-weight: bold;
    color: #e13431;
}

/*-- Css for nicer display of user roles --*/

.role-theCreator {
    font-weight: bold;
    color: black;
}

.role-admin {
    font-weight: bold;
    color: #c4a500;
}

.role-employee {
    font-weight: bold;
    color: #800080;
}

.role-premium {
    font-weight: bold;
    color: #009d00;
}

.role-member {
    font-weight: bold;
    color: #4c4cff;
}

/*-- Password strength --*/

/* Ajust the size so it fits nicely */
.kv-meter-container {
    width: 105px;
}

.navbar-default {
    height: 50px;
    background: white !important;
}

.boton_backend{
    height: 50px;
    width: 150px;
    line-height: 36px;
    font-weight: bold;
}

.footer .container{
    display: flex;
    justify-content: space-around;
    color: inherit !important;
}