body {
    margin: 0;
    /*background-image: url('/themes/light/img/carlaybeto/background2_1.png') !important;*/
    background-color: transparent !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: auto 110%;
    text-align: center;
    font-family: 'Quicksand', sans-serif !important;
    font-size: 24px;
    overflow-x: hidden !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
   /* max-width: 100vh !important;*/

}

.seccion {
    display: block;
    margin: auto;
    text-align: center;
    font-family: 'Quicksand', sans-serif !important;
    margin-top: 75px;
    font-size: 28px;
    overflow: hidden;
}

.imagen_separadora {
    background-color: rgba(255, 255, 255, 0.41);
}

.titulo_nombres {
    font-family: 'Parisienne', cursive;
    font-size: 80px;
}

.nos_casamos {
    font-size: 48px;
    margin: 20px;
    font-weight: 300;
}

.texto_nos_casamos {
    font-weight: 300;
    margin: auto;
}

.countdown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: normal;
    flex-wrap: wrap;
}

.number-wrap {
    width: 100px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.number {
    font-weight: 700;
    font-size: 55px;
    text-transform: none;
    letter-spacing: -2px;
    word-spacing: 0;
    line-height: 1.3;
    color: #28262b;
}

.period {
    font-weight: 400;
}

.separador-number-wrap {
    width: 30px;
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
}

.anillos,
.brindis {
    max-width: 550px;
}

.btn-como-llegar span {
    font-family: 'Rubik', sans-serif !important;
}

.btn-como-llegar {
    background: none !important;
    border-color: #8B7D62 !important;
    color: #8B7D62 !important;
    border-radius: 30px !important;
    border-width: 2px !important;
    font-size: 20px !important;
    padding: 5px 40px !important;
    font-weight: 500 !important;
}

/*
background-color: #C7B38A;
background-color: #FFE8B2;
background-color: #8B7D62;
*/
.btn-como-llegar:hover {
    /*color: #ffffff !important;*/
    color: #000000 !important;
    background-color: #C7B38A !important;
    border-color: #C7B38A !important;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
    -webkit-transition: all 0.3s ease-in-out !important;
    ;
    -moz-transition: all 0.3s ease-in-out !important;
    ;
    transition: all 0.3s ease-in-out !important;
}

.fas,
.far {
    margin-right: 10px;
    padding: 10px;
    font-size: 25px;

}

.wrap_dress_code {
    display: flex;
    align-items: center;
    justify-content: center;
}

.width_70 {
    width: 70%;
}

.wrap_testigos_padrinos {
    background-color: rgba(255, 255, 255, 0.41);
    /*background-color: rgb(248, 248, 250);
    background-color: #C7B38A;
    background-color: #FFE8B2;
    background-color: #8B7D62;*/
    padding: 40px 15%;
}

.wrap_imagenes_padrinos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.div_foto_padrinx {
    border-radius: 100%;
    width: 220px;
    overflow: hidden;
    height: 220px;
    margin: auto;
}

.div_foto_padrinx img {
    position: absolute;
    left: -58px;
    top: -1%;
}

.seccion_background_gray {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #efefef;
}

.wrap_card {
    width: 50%;
    margin: auto;
    /*padding: 40px;*/
    line-height: 0px;
}

.wrap_card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item_regalo {
    font-size: 26px;
}

.texto_padrinos {
    font-size: 18px;
}
.footer{
   font-family: 'Parisienne', cursive !important;
   background-color: #C7B38A;
   padding-top: 15px;
   font-size: 24px;
   color: black !important;
}
/* mobile version mobile version mobile version mobile version mobile version mobile version mobile version mobile version mobile version */
/*result;ado del modal*/
.resultado{
    margin: 10px 30px;
    color: #8B7D62 !important;
    background-color: transparent !important;
    border-color: #8B7D62; !important;
    margin-top: 30px !important;
}
@media  (max-width: 1400px) {
    .container_carrousel{
        width: 100% !important;
    }
}
@media (min-width: 601px) {
    body{
        background-image: url('/themes/light/img/carlaybeto/background2_1.jpg');
    }
}

@media (max-width: 600px) {
    body{
        background-image: url('/themes/light/img/carlaybeto/background2_2_mobile.jpg');
        background-size: auto 600px;
        background-position: top;
    }
}

@media (max-width: 500px) {

    .container_carrousel{
        width: 100% !important;
    }
    .titulo_nombres {
        font-size: 50px !important;
    }

    .nos_casamos {
        font-size: 35px !important;
    }

    .seccion {
        font-size: 20px !important;
    }
    .width_70{
        width: 95% !important;
    }
    .number-wrap{
        width: 100% !important;
    }

    .texto_padrinx {
        margin: 20px 0px !important;
        font-size: 30px !important;
    }
    .btn-como-llegar{
        max-width: 315px !important;
        display: flex !important;
        align-items: baseline !important;
        justify-content: space-evenly !important;
        margin: auto !important;
    }
    .footer{
        font-size: 14px !important;

    }
}
@media  (max-width: 680px) {
    .separador-number-wrap{
        display: none !important;
    }
    .number-wrap{
        width: 40% !important;
    }
}



